* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: yellow;
  padding: 15px;
}

.container-full {
  max-width: 100%;
  margin: 0 auto;
}

.jumbotron {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #B4D0E6;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  height: 700px;
}

.container-big {
  justify-content: center;
  background-color: #B4D0E6;
}

.bg-pink {
  background-color: pink;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100px;
}

.h-70 {
  height: 70px;
}

.h-80 {
  height: 20px;
}

.logo {
  height: 50px;
  display: flex;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  justify-content: space-between;
  gap: 0;
}

ul {
  list-style: none;
  display: flex;
  color: black;
}

li {
  padding: 5px 10px;
  text-align: left;
}

.button {
  margin: 10px;
  background-color: #0061FE;
  color: white;
  text-align: center;
  width: 65px;
  height: 35px;
  border-radius: 0px;
}

.bg-orange {
  background-color: orange;
}

.col-50 {
  width: 50%;
}

.border-black {
  border: 1px solid black;
}

.h-50px {
  height: 50px;
}